<script lang="ts">
  import { page } from "$app/stores";
</script>

<div class="error-container">
  <div class="error">
    <h1>{$page.status ?? "Oops!"}</h1>
    <p>{$page.error?.message ?? "Something went wrong..."}</p>
  </div>
</div>

<style lang="scss">
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & .error {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 36px 12px;
      border-spacing: 36px;

      & :not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
</style>
