<script lang="ts">
  import { onMount } from "svelte";
  
  import BannerOverlay from "$lib/components/BannerOverlay.svelte";
  import ToastOverlay from "$lib/components/ToastOverlay.svelte";
  import { isBrave, isChromiumBased, isGoogleChrome } from "$lib/chrome";

  import "./styles.scss";

  let bannerOverlay: BannerOverlay;

  onMount(() => {
    //if (!window.location.pathname.includes("brave")) {
      if (isGoogleChrome) {
        bannerOverlay.addBanner("Google Chrome is an active threat to your privacy and the Internet as a whole.", {
          actions: [ { name: "Learn More", link: "https://contrachrome.com/", newTab: true } ],
          dismissable: false,
        });
      //} else if (isBrave) {
      //  window.location.pathname = "/brave";
      } else if (isChromiumBased) {
        bannerOverlay.addBanner("The overabundance of Chromium-based browsers is a threat to the Open Web.", {
          actions: [ { name: "Learn More", link: "https://contrachrome.com/", newTab: true } ],
          dismissable: true,
        });
      }
    //}
  });
</script>

<BannerOverlay bind:this={bannerOverlay}>
  <ToastOverlay>
    <main>
      <slot/>
    </main>
  </ToastOverlay>
</BannerOverlay>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    height: 100vh;
    padding-top: 2em;
    box-sizing: border-box;
  
    @media only screen and (min-width: 600px) and (min-height: 800px) {
      padding-top: 10em;
    }
  }
</style>
