<script lang="ts">
  import { getContext, onMount } from "svelte";

  import { browser } from "$app/environment";
  import discordSvg from "$lib/assets/symbolics/discord.svg?raw";
  import emailSvg from "$lib/assets/symbolics/email.svg?raw";
  import chatSvg from "$lib/assets/symbolics/chat.svg?raw";
  import keySvg from "$lib/assets/symbolics/key.svg?raw";
  import pubkey from "$lib/assets/pubkey.gpg?raw";
  import Emoji from "$lib/components/Emoji.svelte";
  import Symbolic from "$lib/components/Symbolic.svelte";
  import { type ToastOverlay } from "$lib/components/ToastOverlay.svelte";
  import { isNullish } from "$lib/helpers";
  import { deobfuscate, isObfuscated } from "$lib/obfuscation";

  const toastOverlay = getContext<ToastOverlay>("ToastOverlay");

  const whoAmIParagraph1 = [
    "I'm a Software Engineer with years of experience in a myriad of ",
    "technologies, from backend to frontend and everywhere in-between."
  ].join("");

  const whoAmIParagraph2 =
    "I learn exceptionally fast and can adapt to any stack that gets thrown my way.";

  const ogDescription = [
    "Hi, my name is Julia Johannesen. ",
    whoAmIParagraph1, " ",
    whoAmIParagraph2,
  ].join("");

  let deobfuscated = false;
  let discord = "e2a28983908389839083";
  let email = "610b140d080021080f12041315050e0c00080f4f0f000c04";
  let matrix = "ecac869980858dd685829f899e988883818d8582c2828d8189";

  onMount(() => {
    if (navigator.webdriver) {
      document.body.toggleAttribute("data-noscript");
      return;
    }

    discord = deobfuscate(discord);
    email = deobfuscate(email);
    matrix = deobfuscate(matrix);

    deobfuscated = true;
  });

  function buttonify(element: HTMLElement): void {
    element.role = "button";
    element.tabIndex = 0;
  }

  function copyToClipboard(content: string): (event: MouseEvent|KeyboardEvent) => void {
    return (event) => {
      if (event instanceof KeyboardEvent)
        if (event.code != "Enter")
          return;

      if (isNullish(navigator.clipboard)) {
        toastOverlay.addToast("Failed to copy to clipbaord.");
        return;
      }

      navigator.clipboard.writeText(content)
        .then(() => toastOverlay.addToast("Copied to clipboard!"))
        .catch(() => toastOverlay.addToast("Failed to copy to clipboard."));
    };
  }
</script>

<svelte:head>
  <title>Julia Johannesen</title>
  <meta name="description" content="Code gremlin. Container addict. Very queer."/>
  <meta property="og:title" content="Julia Johannesen"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content={ogDescription}/>
  <meta property="og:image" content="/opengraph.png"/>
  <meta property="og:url" content="https://insertdomain.name"/>
  <meta property="og:locale" content="en_US"/>
  <link rel="me" href="https://eepy.moe/@julia"/>
</svelte:head>

<article>
  <section id="abstract">
    <h1>
      <span class="wave-positioner">
        <span class="wave">
          <Emoji alt="" codepoints="1f44b"/>
        </span>
      </span>
      <span class="name">
        <span class="dim">Hi, my name is </span><br/>
        <!--
          Before you ask- Yes. This has to be like this. Because this span needs
          to preserve whitespace in all of its children, we cannot use a display
          of `inline-flex` or similar on the parent.
          Unfortunately, the downside of `inline-block` is that it not only
          preserves explicit whitespace, but also implicit whitespace. It just
          so happens that adding a span here with a newline between it and the
          next span introduces a single space of implicit whitespace, which
          cannot be gotten rid of, as far as I know, except like this. 
        -->
        <span class:pride={(new Date()).getMonth() === 5}>
          Julia Johannesen</span><span class="dim">.</span>
      </span>
    </h1>
  </section>
  <section id="about">
    <section id="who-am-i">
      <h2>Who am I?</h2>
      <p>{whoAmIParagraph1}</p>
      <p>{whoAmIParagraph2}</p>
    </section>
    <section id="what-do-i-do">
      <h2>What do I do?</h2>
      <p>
        I'm the maintainer of
        <a href="https://activitypub.software/TransFem-org/Sharkey" target="_blank" rel="noreferrer">Sharkey</a>,
        an ActivityPub-powered microblogging platform trusted by over 200
        Fediverse instances.
      </p>
      <p>
        I also run my own instance of Sharkey at
        <a href="https://eepy.moe" target="_blank" rel="noreferrer">eepy.moe</a>,
        and self-host services for me and close friends here on
        <a href="https://insertdomain.name">insertdomain.name</a>.
      </p>
    </section>
  </section>
  <section id="contact">
    <h2>Want to Get in Touch?</h2>
    {#if !browser || !deobfuscated}
      <div class="noscript">
        <p>
          Note that this part of my site requires JavaScript, in order to deter
          spammers. If you want to contact me without running JavaScript on my
          site, run <a href="/misc/obfuscation.sh">this script</a> in a POSIX
          shell.
        </p>
      </div>
    {/if}
    <ul>
      <li id="discord">
        <!--
          We're outsmarting Svelte here, which could be a bad thing depending
          on how you look at things. Since this site has a steadfast commitment
          to making everything progressively enhanced, these div elements have a
          different look and function when the page isn't hydrated. So, because
          Svelte warns us about things that we're taking care of with the
          use:buttonify directive, so we can safely ignore this warning for all
          these divs.
        -->
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <div
          use:buttonify
          on:click={isObfuscated(discord) ? undefined : copyToClipboard(discord)}
          on:keydown={isObfuscated(discord) ? undefined : copyToClipboard(discord)}>
          <Symbolic inline={true} svg={discordSvg}/><p> Discord</p>
          <noscript>{discord}</noscript>
        </div>
      </li>
      <li id="email">
        <!--
          <a> tags make it hard to select the noscript text, so a <div> should
          be used when rendering to static html so that noscript users get a
          <div> instead of an <a> tag. 
        -->
        {#if browser}
          <a href={isObfuscated(email) ? `javascript:void 0` : `mailto:${email}`}>
            <Symbolic inline={true} svg={emailSvg}/><p> Email</p>
          </a>
        {:else}
          <div>
            <Symbolic inline={true} svg={emailSvg}/><p> Email</p>
            <noscript>{email}</noscript>
          </div>
        {/if}
      </li>
      <li id="matrix">
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <div
          use:buttonify
          on:click={isObfuscated(matrix) ? undefined : copyToClipboard(matrix)}
          on:keydown={isObfuscated(matrix) ? undefined : copyToClipboard(matrix)}>
          <Symbolic inline={true} svg={chatSvg}/><p> Matrix</p>
          <noscript>{matrix}</noscript>
        </div>
      </li>
      <li id="pubkey">
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <div
          use:buttonify
          on:click={copyToClipboard(pubkey)}
          on:keydown={copyToClipboard(pubkey)}>
          <Symbolic inline={true} svg={keySvg}/><p> Public Key</p>
          <noscript>{pubkey}</noscript>
        </div>
      </li>
    </ul>
  </section>
</article>

<style lang="scss">
  @use "sass:list";

  @use "$lib/styles/mixins";
  @use "$lib/styles/palette";

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & > section {
      max-width: 600px;
      margin-bottom: 2.5em;

      &:not(#abstract) { width: 100%; }

      &#abstract {
        margin-top: 2.5em;

        & h1 {
          /* The human brain is stupid-- if I don't do this, then the title
          looks off-center because our brain doesn't consider the emoji to be
          part of the title. As such, to make our dumb brains happy, I've
          made it so that the emoji takes up zero space and is placed outside
          the box of the title. See the Nintendo Switch logo for rationale. */
          & .wave-positioner {
            display: inline-flex;
            width: 0;
            transform: translate(-1em, 0);

            & .wave {
              animation-name: wave;
              animation-duration: .33s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: 2;
              transform: rotate(0deg);
              transform-origin: bottom right;

              @keyframes wave {
                0% { transform: rotate(0deg); }
                25% { transform: rotate(15deg); }
                50% { transform: rotate(0deg); }
                75% { transform: rotate(-15deg); }
                100% { transform: rotate(0deg); }
              }
            }
          }

          & .name {
            display: inline-block;

            & .dim {
              opacity: 0.55;
              font-weight: normal;
            }

            /* TODO: Figure out a way to show a pride thing when using light mode */
            @media not (prefers-color-scheme: light) {
              & .pride {
                background: linear-gradient(
                  to right,
                  #5BCEFA,
                  #F5A9B8,
                  #FFF 45%,
                  #FFF 55%,
                  #F5A9B8,
                  #5BCEFA,
                );
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
              }
            }
          }
        }
      }

      &#contact {
        & > .noscript {
          display: none;

          :global(body[data-noscript]) & {
            @include mixins.card();
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 1em;
          }  
        }

        & ul {
          :global(body:not([data-noscript])) & {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: unset;
            margin: unset;
            margin-top: 1em;
            list-style: none;

            & li { margin-bottom: 1em; }

            & li > a { all: unset; cursor: pointer; }
            & li > div { cursor: pointer; }

            /* TODO: Unmixin this shit. What was I thinking? */
            & li#discord > div { @include mixins.chip($color: list.nth(palette.$blues, 3)); }
            & li#matrix > div { @include mixins.chip($color: list.nth(palette.$greens, 3)); }
            & li#pubkey > div { @include mixins.chip($color: list.nth(palette.$purples, 3)); }

            & li#email > a,
            & li#email > div { @include mixins.chip($color: list.nth(palette.$yellows, 3)); }

            & li > * > p {
              color: #fff;
              margin-left: 0.5rem;
            }

            @media (prefers-color-scheme: light) {
              & li > * > p {
                color: #000c;
              }
            }
          }

          :global(body[data-noscript]) & {
            & li > div {
              width: 100%;
              display: flex;
              justify-content: space-between;

              & > noscript { font-family: monospace; }
            }

            & li > div :global(span) { display: none; }

            & li#pubkey > div > noscript {
              font-family: monospace;
              font-size: 0.75em;
              white-space: pre;
            }
          }
        }
      }
      
      & section:not(:last-child) { margin-bottom: 2.5em; }
    }
  }

  @media only screen and (max-width: 600px) {
    article {
      max-width: 95%;
    }
  }

  @media only screen and (min-width: 501px) {
    article #abstract h1 br {
      display: none;
    }
  }

  @media only screen and (max-width: 500px) {
    article {
      & #abstract h1 {
        display: flex;
        flex-direction: row;
        align-items: center;

        .wave-positioner {
          width: unset !important;
          transform: translate(-75%, 0%) scale(150%) !important;
        }
      }

      :global(body:not([data-noscript])) & #contact ul li {
        flex-basis: 40%;
      }
    }
  }

  @media only screen and (max-width: 300px) {
    :global(body:not([data-noscript])) article #contact ul li {
      flex-basis: 60%;
    } 
  }
</style>
