
@use "sass:color";
@use "sass:list";

@import "@fontsource/cantarell";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

p { margin: 0; }

////////////////////////// cosmetics ////////////////////////////////////////

body {
  color: #fff;
  background-color: #222;
  font-family:
    "Cantarell", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}

p > a {
  color: #78aeed;
  
  &:hover {
    color: color.adjust(#78aeed, $lightness: +8%);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: color.adjust(black, $alpha: -0.2);
    background-color: #fafafa;
  }

  p > a {
    color: #1c71d8;

    &:hover {
      color: color.adjust(#1c71d8, $lightness: +8%);
    }
  }
}

/******************************** Typesetting ********************************/

$-headings: (
  (800, 20pt),
  (800, 15pt),
  (700, 15pt),
  (700, 13pt),
);

@for $-i from 1 through list.length($-headings) {
  h#{$-i} {
    margin: 0;
    font-weight: list.nth(list.nth($-headings, $-i), 1);
    font-size: list.nth(list.nth($-headings, $-i), 2);
  }
}

.heading {
  font-weight: 700;
  font-size: 11pt;
}

.body {
  font-weight: 400;
  font-size: 11pt;
}
