// These colors are adapted from libadwaita, liscensed under LGPLv2.

@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:meta";

@function -contextual-color(
  $background,
  $foreground,
  $contextless: null,
  $border: null,
  $backdrop: null,
  $shade: null,
  $darker-shade: null) {
  @return (
    "@type": "contextual-color",
    "background": $background,
    "foreground": $foreground,
    "contextless": $contextless,
    "border": $border,
    "backdrop": $backdrop,
    "shade": $shade,
    "darker-shade": $darker-shade,
  );
}

@function -contextualize($contextual, $property) {
  $type: meta.type-of($contextual);
  @if $type == "map" {
    @if map.get($contextual, "@type") != "contextual-color" {
      @error "invalid parameter #{$contextual}";
    }
    @return map.get($contextual, $property);
  } @else if $type == "color" {
    @return $contextual;
  } @else {
    @error "invalid parameter #{$contextual}";
  }
}

@function -themed-color($dark, $light: $dark) {
  @return ("@type": "themed-color", "dark": $dark, "light": $light);
}

@function -theme($themed, $property) {
  $type: meta.type-of($themed);
  @if $type == "map" {
    @if map.get($themed, "@type") != "themed-color" {
      @error "invalid parameter #{$themed}";
    }
    @return map.get($themed, $property);
  } @else if $type == "color" {
    @return $themed;
  } @else {
    @error "invalid parameter #{$themed}";
  }
}

@function backdrop($contextual) { @return -contextualize($contextual, "backdrop"); }

@function background($contextual) { @return -contextualize($contextual, "background"); }

@function border($contextual) { @return -contextualize($contextual, "border"); }

@function contextless($contextual) { @return -contextualize($contextual, "contextless"); }

@function dark($themed) { @return -theme($themed, "dark"); }

@function foreground($contextual) { @return -contextualize($contextual, "foreground"); }

@function light($themed) { @return -theme($themed, "light"); }

@function map($input, $with, $args...) {
  $type: meta.type-of($input);
  @if $type == "map" {
    $type: map.get($input, "@type");
    @if $type == "contextual-color" {
      $output: $input;
      @each $key, $value in $input {
        @if $key != "@type" and $value != null {
          $output: map.set($output, $key, map($value, $with, $args...));
        }
      }
      @return $output;
    } @else if $type == "themed-color" {
      $output: $input;
      @each $key, $value in $input {
        @if $key != "@type" and $value != null {
          $output: map.set($output, $key, meta.call($with, $value, $args...));
        }
      }
      @return $output;
    } @else {
      @error "Invalid input";
    }
  } @else if $type == "color" {
    @return meta.call($with, $input, $args...);
  } @else {
    @error "Invalid input";
  }
}

@function mix($input1, $input2, $weight: 50%) {
  $input1-type: meta.type-of($input1);
  $input2-type: meta.type-of($input2);
  @if $input1-type == "map" and $input2-type == "map" {
    $input1-type: map.get($input1, "@type");
    $input2-type: map.get($input2, "@type");
    @if $input1-type == "contextual-color" and $input2-type == "contextual-color" {
      $output: ("@type": "contextual-color");
      @each $key, $value1 in $input1 {
        @if $key != "@type" and $value1 != null {
          $value2: map.get($input2, $key);
          @if $value2 != null {
            $output: map.set($output, $key, mix($value1, $value2, $weight: $weight));
          }
        }
      }
      @return $output;
    } @else if $input1-type == "themed-color" and $input2-type == "themed-color" {
      $output: ("@type": "themed-color");
      @each $key, $value1 in $input1 {
        @if $key != "@type" and $value1 != null {
          $value2: map.get($input2, $key);
          @if $value2 != null {
            $output: map.set($output, $key, mix($value1, $value2, $weight: $weight));
          }
        }
      }
      @return $output;
    } @else if $input1-type == "contextual-color" and $input2-type == "themed-color" {
      $output: ("@type": "contextual-color");
      @each $key, $value1 in $input1 {
        @if $key != "@type" and $value1 != null {
          $output: map.set($output, $key, mix($value1, $input2, $weight: $weight));
        }
      }
      @return $output;
    } @else {
      @error "Invalid input";
    }
  } @else if $input1-type == "map" and $input2-type == "color" {
    $input1-type: map.get($input1, "@type");
    @if $input1-type == "contextual-color" or $input1-type == "themed-color" {
      $output: $input1;
      @each $key, $value in $input1 {
        @if $key != "@type" and $value != null {
          $output: map.set($output, $key, mix($value, $input2, $weight: $weight));
        }
      }
      @return $output;
    } @else {
      @error "Invalid input";
    }
  } @else if $input1-type == "color" and $input2-type == "color" {
    @return color.mix($input1, $input2, $weight: $weight);
  } @else {
    @error "Invalid input";
  }
}

@function shade($contextual, $darker: false) {
  @if $darker {
    @return -contextualize($contextual, "darker-shade");
  } @else {
    @return -contextualize($contextual, "shade");
  }
}

$blues:   (#99c1f1, #62a0ea, #3584e4, #1c71d8, #1a5fb4);
$greens:  (#8ff0a4, #57e389, #33d17a, #2ec27e, #26a269);
$yellows: (#f9f06b, #f8e45c, #f6d32d, #f5c211, #e5a50a);
$oranges: (#ffbe6f, #ffa348, #ff7800, #e66100, #c64600);
$reds:    (#f66151, #ed333b, #e01b24, #c01c28, #a51d2d);
$purples: (#dc8add, #c061cb, #9141ac, #813d9c, #613583);
$browns:  (#cdab8f, #b5835a, #986a44, #865e3c, #63452c);
$lights:  (#ffffff, #f6f5f4, #deddda, #c0bfbc, #9a9996);
$darks:   (#77767b, #5e5c64, #3d3846, #241f31, #000000);

$accent: -contextual-color(
  $background: -themed-color(list.nth($blues, 3)),
  $foreground: -themed-color(white),
  $contextless: -themed-color($dark: #78aeed, $light: list.nth($blues, 4)));

$destructive: -contextual-color(
  $background: -themed-color($dark: list.nth($reds, 4), $light: list.nth($reds, 3)),
  $foreground: -themed-color(white),
  $contextless: -themed-color($dark: #ff7b63, $light: list.nth($reds, 4)));

$success: -contextual-color(
  $background: -themed-color($dark: list.nth($greens, 5), $light: list.nth($greens, 4)),
  $foreground: -themed-color(white),
  $contextless: -themed-color($dark: list.nth($greens, 1), $light: #1b8553));

$warning: -contextual-color(
  $background: -themed-color($dark: #cd9309, $light: list.nth($yellows, 5)),
  $foreground: -themed-color(color.adjust(black, $alpha: -0.2)),
  $contextless: -themed-color($dark: list.nth($yellows, 2), $light: #9c6e03));

$error: -contextual-color(
  $background: -themed-color($dark: list.nth($reds, 4), $light: list.nth($reds, 3)),
  $foreground: -themed-color(white),
  $contextless: -themed-color($dark: #ff7b63, $light: list.nth($reds, 4)));

$window: -contextual-color(
  $background: -themed-color($dark: #242424, $light: #fafafa),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)));

$view: -contextual-color(
  $background: -themed-color($dark: #1e1e1e, $light: white),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)));

$headerbar: -contextual-color(
  $background: -themed-color($dark: #303030, $light: white),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $border: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $backdrop: -themed-color($dark: #303030, $light: white),
  $shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.88)),
  $darker-shade: -themed-color($dark: color.adjust(black, $alpha: -0.1), $light: color.adjust(black, $alpha: -0.88)));

$sidebar: -contextual-color(
  $background: -themed-color($dark: #303030, $light: #ebebeb),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $backdrop: -themed-color($dark: #2a2a2a, $light: #f2f2f2),
  $shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.93)));

$secondary-sidebar: -contextual-color(
  $background: -themed-color($dark: #2a2a2a, $light: #f3f3f3),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $backdrop: -themed-color($dark: #272727, $light: #f6f6f6),
  $shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.93)));

$card: -contextual-color(
  $background: -themed-color($dark: color.adjust(white, $alpha: -0.92), $light: white),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.93)));

$dialog: -contextual-color(
  $background: -themed-color($dark: #383838, $light: #fafafa),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)));

$popover: -contextual-color(
  $background: -themed-color($dark: #383838, $light: white),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)),
  $shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.93)));

$thumbnail: -contextual-color(
  $background: -themed-color($dark: #383838, $light: white),
  $foreground: -themed-color($dark: white, $light: color.adjust(black, $alpha: -0.2)));

$shade: -themed-color($dark: color.adjust(black, $alpha: -0.64), $light: color.adjust(black, $alpha: -0.93));
