
@use "sass:color";
@use "sass:meta";

@use "$lib/styles/palette";

@function -to-border-color($color) {
  @return color.adjust($color, $alpha: -0.85);
}

@mixin card(
  $background-color: palette.background(palette.$card),
  $color: palette.foreground(palette.$card),
  $border-color: palette.map($color, meta.get-function(-to-border-color)),
  $needs-attention: false,
  ) {
  box-shadow:
    0 0 0 1px palette.dark($border-color),
    0 1px 3px 1px color.adjust(black, $alpha: -0.93),
    0 2px 6px 2px color.adjust(black, $alpha: -0.97);
  border-radius: 12px;
  background-color: palette.dark($background-color);
  color: palette.dark($color);

  @at-root {
    @media (prefers-color-scheme: light) {
      & {
        box-shadow:        
          0 0 0 1px palette.light($border-color),
          0 1px 3px 1px color.adjust(black, $alpha: -0.93),
          0 2px 6px 2px color.adjust(black, $alpha: -0.97);
        background-color: palette.light($background-color);
        color: palette.light($color);
      }
    }
  }
}
