
@use "sass:color";
@use "sass:meta";

@use "$lib/styles/palette";

@function -to-border-color($color) {
  @return color.adjust($color, $alpha: -0.85);
}

@mixin chip(
  $color: palette.contextless(palette.$accent),
  $background-color: color.adjust($color, $alpha: -0.74)) {
  $border-color: palette.map($color, meta.get-function(-to-border-color));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 18px;
  border-radius: 9999px;
  color: $color;
  background-color: $background-color;
  box-shadow: 0 0 0 1px palette.dark($border-color);
  user-select: none;
  @at-root {
    @media (prefers-color-scheme: light) {
      & {
        box-shadow: 0 0 0 1px palette.light($border-color);
      }
    }
  }
}
