<script context="module" lang="ts">
  type Banner = { message: string } & BannerOptions;

  type BannerAction = { name: string } & Partial<{
    callback: () => void,
    dismiss: boolean,
    link: string,
    newTab: boolean,
  }>;

  type BannerOptions = {
    actions: BannerAction[],
    dismissable: boolean,
  };

  export type BannerOverlay = {
    addBanner(message: string, options?: Partial<BannerOptions>): void,
  };
</script>

<script lang="ts">
  import { setContext } from "svelte";
  import { fade } from "svelte/transition";
  
  import { dev } from "$app/environment";
  import { base } from "$app/paths";
  import { isNonNullish, isNullish } from "$lib/helpers";

  let banners: Banner[] = [];

  function actionClicked(banner: Banner, action: BannerAction): (event: MouseEvent|KeyboardEvent) => void {
    return (_) => {
      action.callback!();

      if (action.dismiss)
        banners = banners.filter((otherBanner) => banner.message !== otherBanner.message);
    };
  }

  export function addBanner(message: string, options: Partial<BannerOptions> = {}): void {
    options.actions ??= [];
    options.dismissable ??= false;

    if (dev) {
      for (const action of options.actions) {
        if (isNonNullish(action.callback) && isNonNullish(action.link))
          console.warn("action on banner has both a callback and a link- but only one will be used");
        else if (isNullish(action.callback) && isNullish(action.link))
          console.warn("action on banner has neither a callback or a link");

        if (isNonNullish(action.newTab) && isNullish(action.link))
          console.warn("action on banner has a newTab property without a link");
      }
    }

    const banner = { message, ...options } as Banner;
    banners = [ ...banners, banner ];
  }

  setContext<BannerOverlay>("BannerOverlay", { addBanner });
</script>

<div class="banner-overlay">
  <slot/>
  <div class="banners">
    {#each banners as banner (banner.message)}
      <div class="banner" aria-live="polite" role="banner" transition:fade>
        <span class="content">
          <span class="message">{banner.message}</span>
          {#if banner.actions.length !== 0}
            <span class="actions">
              {#each banner.actions as action (action.name)}
                {#if isNonNullish(action.link)}
                  {#if action.newTab}
                    <a
                      class="action"
                      href={action.link}
                      target="_blank"
                      rel="noopener noreferrer">
                      {action.name}
                    </a>
                  {:else}
                    <a class="action" href={action.link}>{action.name}</a>
                  {/if}
                {:else if isNonNullish(action.callback)}
                  <button class="action" on:click={actionClicked(banner, action)}></button>
                {:else}
                  <button class="action" disabled>{action.name}</button>
                {/if}
              {/each}
            </span>
          {/if}
        </span>
      </div>
    {/each}
  </div>
</div>

<style lang="scss">
  @use "sass:color";
  @use "sass:list";
  @use "sass:meta";

  @use "$lib/styles/palette";
  @use "$lib/styles/utilities";

  a, button { all: unset; display: inline-block; }

  .banner-overlay {
    position: relative;

    & .banners {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      & .banner {
        display: flex;
        justify-content: center;
        $color: palette.mix(
          palette.$accent,
          palette.$secondary-sidebar,
          $weight: 30%);
        border-bottom: 1px solid color.adjust(palette.dark(palette.foreground($color)), $alpha: -0.9);
        background-color: palette.dark(palette.background($color));

        @media (prefers-color-scheme: light) {
          border-bottom: 1px solid color.adjust(palette.light(palette.foreground($color)), $alpha: -0.5);
          background-color: palette.light(palette.background($color));
        }

        & .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 800px;
          padding: 6px;
          font-weight: bold;

          & .action {
            cursor: pointer;
            min-height: 24px;
            min-width: 16px;
            padding: 5px 10px;
            border-radius: 6px;
            text-align: center;
            background-color: color.adjust(palette.dark(palette.foreground($color)), $alpha: -0.9);

            &:hover {
              background-color: color.adjust(palette.dark(palette.foreground($color)), $alpha: -0.85);
            }

            &:active {
              background-color: color.adjust(palette.dark(palette.foreground($color)), $alpha: -0.7);
            }

            @media (prefers-color-scheme: light) {
              background-color: color.adjust(white, $alpha: -0.5);
            
              &:hover {
                background-color: color.adjust(white, $alpha: -0.45);
              }

              &:active {
                background-color: color.adjust(white, $alpha: -0.3);
              }
            }
          }
        }
      }
    }
  }
</style>
