<script lang="ts">
  export let alt: string|undefined = undefined;
  export let codepoints: string;

  $: finalAlt = alt ?? String.fromCodePoint(...codepoints.split("-").map((codepoint) => parseInt(codepoint, 16)));
</script>

<picture>
  <img
    alt={finalAlt}
    draggable="false"
    src="/assets/twemoji/72x72/{codepoints}.png"
    on:drag|preventDefault={() => undefined}/>
  <source src="/assets/twemoji/72x72/{codepoints}.webp" type="image/webp"/>
  <source src="/assets/twemoji/svg/{codepoints}.svg" type="image/svg+xml"/>
</picture>

<style lang="scss">
  img {
    width: 1em;
    height: 1em;
    // To place the image at the same spot that the browser would place a native
    // emoji.
    transform: translate(0, 0.125em);
    // :3
    pointer-events: none;
  }
</style>
