<script lang="ts">
  export let inline: boolean = false;
  export let svg: string;
</script>

<span class:inline={inline}>
  {@html svg}
</span>

<style lang="scss">
  span {
    & :global(svg) {
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
    &.inline :global(svg) { transform: translate(0, 0.125em); }
  }
</style>
