<script context="module" lang="ts">
  type Toast = {
    id: number,
    message: string,
    options: ToastOptions,
    dismiss: () => void,
  };

  type ToastAction = {
    name: string,
    callback: () => void,
    dismiss: boolean,
  };

  type ToastOptions = {
    actions: ToastAction[],
    dismissable: boolean,
    duration: number,
  };

  export type ToastOverlay = {
    addToast(message: string, options?: Partial<ToastOptions>): void,
  };
</script>

<script lang="ts">
  import { setContext } from "svelte";
  import { fly } from "svelte/transition";
  import { readable, writable } from "svelte/store";

  import windowClose from "$lib/assets/symbolics/window-close.svg?raw";
  import Symbolic from "$lib/components/Symbolic.svelte";
  import { isNonNullish, isNullish, noop } from "$lib/helpers";

  let nextToastId = 0;

  const newestToast = writable<Toast|null>(null);
  
  const currentToast = readable<Toast|null>(null, (set) => {
    let $currentToast: Toast|null = null;
    let currentTimeout: number|null = null;
    
    const dismiss = () => {
      if (isNonNullish(currentTimeout)) clearTimeout(currentTimeout);
      $currentToast = null;
      set(null);
    };
    
    const unsubscribe = newestToast.subscribe(($newestToast) => {
      if (isNullish($newestToast)) return;

      if (isNonNullish($currentToast)) dismiss();

      $currentToast = $newestToast;
      $currentToast.dismiss = dismiss;
      currentTimeout = setTimeout(dismiss, $currentToast.options.duration);
      set($currentToast);
    });
    
    return () => {
      unsubscribe();
      dismiss();
    };
  });

  function actionClicked(toast: Toast, action: ToastAction): (event: MouseEvent|KeyboardEvent) => void {
    return (_) => {
      action.callback();
      if (action.dismiss) toast.dismiss();
    };
  }

  export function addToast(message: string, options: Partial<ToastOptions> = {}): void {
    options.actions ??= [];
    options.dismissable ??= true;
    options.duration ??= 5000;

    newestToast.set({
      id: ++nextToastId,
      message,
      options: options as ToastOptions,
      dismiss: noop,
    });
  }

  setContext<ToastOverlay>("ToastOverlay", { addToast });
</script>

<div class="toast-overlay">
  <slot/>
  <div class="toasts">
    {#if isNonNullish($currentToast)}
      {#key $currentToast.id}
        <div
          aria-live="assertive"
          class="toast"
          role="alert"
          transition:fly|global={{ y: 32 }}>
          <span class="label">{$currentToast.message}</span>
          {#if $currentToast.options.actions.length !== 0}
            <span class="actions">
              {#each $currentToast.options.actions as action}
                {@const toast = $currentToast}
                <button class="action" on:click={actionClicked(toast, action)}>
                  {action.name}
                </button>
              {/each}
            </span>
          {/if}
          {#if $currentToast.options.dismissable}
            <button
              class="close"
              on:click={$currentToast.dismiss}>
              <Symbolic svg={windowClose}/>
            </button>
          {/if}
        </div>
      {/key}
    {/if}
  </div>
</div>

<style lang="scss">
  .toast-overlay {
    position: relative;

    & .toasts {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15em;
      overflow: hidden;
      pointer-events: none;
      
      & .toast {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: max-content;
        height: max-content;

        margin-bottom: 24px;
        overflow: hidden;
        border: none;
        border-radius: 150px;
        padding: 6px;
        color: #ffffffe6;
        background-clip: padding-box;
        background-color: #000000b3;
        pointer-events: auto;

        &:dir(ltr) {
          padding-left: 12px;
          
          & > .label { margin-right: 4px; }
        }

        &:dir(rtl) {
          padding-right: 12px;

          & > .label { margin-left: 4px; }
        }

        & > .actions {
          margin: 0 6px;
        }

        & > .close {
          justify-self: end;
          min-width: 34px;
          min-height: 34px;
          padding: 0;
          border: none;
          border-radius: 9999px;
          background: transparent;
          box-shadow: none;

          &:hover { background: #ffffff21; }
          &:active { background: #ffffff29; }

          & > :global(span) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #ffffffe6;

            & > :global(svg) {
              width: 16px;
              height: 16px;
              object-fit: contain;
              text-align: center;
              fill: currentColor;
            }
          }
        }
      }
    }
  }
</style>
